<?xml version="1.0"?>
    <launch>

        <node pkg="armor" type="execute" name="armor_service" args="it.emarolab.armor.ARMORMainService"/>

        <node name="hint" pkg="exp_pro_lab" type="hint_publisher.py"/>
        <node name="oracle" pkg="exp_pro_lab" type="oracle_service.py"/>
        <node name="hypothesis_maker" pkg="exp_pro_lab" type="hypothesis_maker_2.py"/>
        <node name="state_machine" pkg="exp_pro_lab" type="state_machine.py" output="screen"/>


    </launch>