<?xml version="1.0"?>
<launch>

    <!-- ROSPlan -->
    <include file="$(find rosplan_planning_system)/launch/interfaced_planning_system.launch">
        <arg name="domain_path" value="$(find exp_rob_lab)/pddl/domain.pddl"/>
        <arg name="problem_path" value="$(find exp_rob_lab)/pddl/problem.pddl"/>
    </include>

    <!-- sim actions -->
    <include file="$(find rosplan_planning_system)/launch/includes/simulated_action.launch">
        <arg name="pddl_action_name" value="go_to_waypoint"/>
    </include>

    <include file="$(find rosplan_planning_system)/launch/includes/simulated_action.launch">
        <arg name="pddl_action_name" value="reach_hint"/>
    </include>

    <include file="$(find rosplan_planning_system)/launch/includes/simulated_action.launch">
        <arg name="pddl_action_name" value="hint_inspection"/>
        <arg name="action_probability" value="0.7"/>
    </include>

    <include file="$(find rosplan_planning_system)/launch/includes/simulated_action.launch">
        <arg name="pddl_action_name" value="add_to_onthology"/>
    </include>

    <include file="$(find rosplan_planning_system)/launch/includes/simulated_action.launch">
        <arg name="pddl_action_name" value="hypothesis_check"/>
        <arg name="action_probability" value="0.7"/>
    </include>

    <include file="$(find rosplan_planning_system)/launch/includes/simulated_action.launch">
        <arg name="pddl_action_name" value="return_home"/>
    </include>

    <include file="$(find rosplan_planning_system)/launch/includes/simulated_action.launch">
        <arg name="pddl_action_name" value="leave_home"/>
    </include>

    <include file="$(find rosplan_planning_system)/launch/includes/simulated_action.launch">
        <arg name="pddl_action_name" value="check_oracle"/>
        <arg name="action_probability" value="0.7"/>
    </include>
</launch>